    <nav class= "navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class=></i>
      </span>
  <ul class= "main-nav" id="js-menu">
      <li><a href="/index" class="nav-links">Home</a></li>
      <li><a href="/albums" class="nav-links">Albums</a></li>
      <li><a href="/feedback" class="nav-links">Comment</a></li>
      <li><a href="/chat" class="nav-links">Chat</a></li>    
  </ul>
  </nav>